html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: $baseFontSize;

    @include tabl {
        font-size: $baseFontSize - 1px;
    }

    @include teleph {
        font-size: $baseFontSize - 3px;
    }
    
}

body {
    margin: 0;
    font-family: Alegreya Sans, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.42;
    color: #666;
    background-color: #FFFFFF;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.body-nonScrol {
    height: 100%;
    overflow: hidden;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

/*.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1100px;
    min-height: 652px;
    height: 100%;
    margin: 0 auto;
}*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

address {
    font-style: normal;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}