@import url("./layout/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html, body {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html, body {
    font-size: 13px;
  }
}

body {
  margin: 0;
  font-family: Alegreya Sans, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.42;
  color: #666;
  background-color: #FFFFFF;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-nonScrol {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

/*.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1100px;
    min-height: 652px;
    height: 100%;
    margin: 0 auto;
}*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover {
  background: #FFD517;
}

.button {
  color: #000;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.125rem;
  text-align: center;
  padding: 1.3125rem 2.5625rem;
  border-radius: 6.25rem;
  border: none;
  background: #FEDB3F;
  width: 9.75rem;
  cursor: pointer;
}
.button-transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
}
.button-transparent:hover {
  background: none;
  color: #FEDB3F;
}

.hamburger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: none;
  width: 26px;
  height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 8px;
  }
}
.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.welcome__menu-overlay {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(51, 53, 55, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*.welcome__menu-overlay-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/
.welcome__menu-list-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coneiner__cros {
  display: block;
  position: absolute;
  top: 100px;
  right: 100px;
  width: 20px;
  height: 20px;
  text-decoration: none;
}

.cros-svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

/*@mixin tabl () {
   @media screen and (max-width: $tablets) {
       @content;
   }
}

@mixin teleph {
   @media screen and (max-width: $phone) {
       @content;
   }
}*/
.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url("../img/background_1.jpg") center center no-repeat fixed;
  background-size: cover;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.tablet__background {
  display: none;
}
@media screen and (max-width: 768px) {
  .tablet__background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    background-color: #1968B1;
    height: 5.6875rem;
  }
}

.container {
  position: relative;
  width: 95%;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 2% 4.3% 5% 5.4%;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 2.5% 1.3% 5% 2.4%;
  }
}

/*.welcome__background {
  background: url("../../img/background_1.jpg") center center no-repeat  fixed;
  background-size:cover;
}*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 3.5rem;
  height: 2.4375rem;
}

.welcome__menu {
  padding-left: 0;
  margin: 0 1.875rem;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .welcome__menu {
    display: none;
  }
}

.welcome__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*flex: 1;*/
}
.welcome__menu-list :last-child {
  margin-right: 0px;
}

.welcome__menu-item {
  font-weight: 700;
  line-height: 1.825rem;
  margin-right: 1.375rem;
  margin-bottom: 0.625rem;
}

.welcom__menu-link {
  text-decoration: none;
  white-space: nowrap;
}

.contacts__tel {
  text-decoration: none;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__tel-header {
  text-decoration: none;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .contacts__tel-header {
    display: none;
  }
}

.contacts__tel-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  fill: #fff;
}

.contacts__tel-icon-elem {
  width: 1rem;
  height: 1rem;
}

.contacts__tel-text {
  white-space: nowrap;
}

.welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6.1475rem;
}
@media screen and (max-width: 768px) {
  .welcome__content {
    margin-top: 26.2rem;
  }
}
@media screen and (max-width: 480px) {
  .welcome__content {
    margin-top: 22.8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.welcome__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}
.welcome__content-wrapper h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.21;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .welcome__content-wrapper h1 {
    text-align: center;
    font-size: 2.5rem;
  }
}
.welcome__content-wrapper p {
  color: #fff;
  font-size: 1.3125rem;
  margin-top: 0.9375rem;
}
@media screen and (max-width: 480px) {
  .welcome__content-wrapper p {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .welcome__content-wrapper {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .welcome__content-wrapper h1 {
    text-align: center;
  }
}

/*.welcome__content-wrapper h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.21;
    text-transform: uppercase;
}

.welcome__content-wrapper p {
    color: #fff;
    font-size: 21px;
    margin-top: 15px;
}*/
.button-welcome {
  margin-top: 2.25rem;
}
@media screen and (max-width: 768px) {
  .button-welcome {
    margin-top: 3.25rem;
  }
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.paginator__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.paginator__list :active {
  border: 2px solid #fff;
}
.paginator__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 18px;
  height: 18px;
  border: 0px solid #fff;
  border-radius: 50%;
}
.paginator__item-icon {
  display: inline-block;
  margin: auto;
}

.point {
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}

/*.paginator__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paginator__item {
    display: flex;
    /* justify-content: center; */
/* align-items: center; */
/* width: 18px;
    height: 18px;
    border: 0px solid #fff;
    border-radius: 50%;
}

.paginator__item-icon {

    display: inline-block;
    margin: auto;
}*/
/*.paginator__item:active {
    border: 2px solid #fff;
}*/
.welcome__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.0625rem;
}
.welcome__footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.welcome__footer-list :last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .welcome__footer-list {
    display: none;
  }
}
.welcome__footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: 2.125rem;
}
.welcome__footer-icon {
  height: 2.5625rem;
  width: 2.5625rem;
  margin-right: 0.6875rem;
}
.welcome__footer-icon-elem {
  fill: #fff;
  height: 2.5625rem;
  width: 2.5625rem;
}
.welcome__footer-text {
  max-width: 5.625rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.125rem;
  margin-left: 10px;
}

.welcome__foote-icon-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #fff;
  height: 2.5625rem;
  width: 2.5625rem;
  stroke: #fff;
}

/*.welcome__footer-list {
    display: inline-flex;

    :last-child {
        margin-right: 0px;
    }
}

.welcome__footer-item {
    display: inline-flex;
    margin-right: 30px;
}

.welcome__footer-icon {
    height: 41px;
    width: 41px;
    margin-right: 11px;
}

.welcome__footer-item p {
    // display: flex;
    width: 90px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}*/
.section {
  width: 100vw;
  height: 100vh;
  min-height: 40.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0 5%;
}

.section__title {
  color: #292929;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 9.2%;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.5rem;
  }
}

.why {
  padding-top: 9.7%;
}

.why__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 30rem;
  min-height: 40.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 7%;
}

.why__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.75rem;
}
.why__header-title {
  display: block;
  color: #292929;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}
@media screen and (max-width: 480px) {
  .why__header-title {
    text-align: center;
    font-size: 2.5rem;
  }
}
.why__header-content {
  text-align: center;
  padding: 0 22%;
}
@media screen and (max-width: 480px) {
  .why__header-content {
    padding: 0 5%;
  }
}

.why__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 68.75rem;
}

.why__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 68.75rem;
}
@media screen and (max-width: 480px) {
  .why__content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.why__content-list :first-child {
  padding-left: 0;
}
.why__content-list :last-child {
  padding-right: 0;
}
.why__content-list :last-child:before {
  display: none;
}

.why__content-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  position: relative;
  margin: 0 2%;
}
.why__content-item:last-child {
  margin-right: 0;
}
.why__content-item:first-child {
  margin-left: 0;
}
.why__content-item:before {
  width: 4.1875rem;
  height: 1.3125rem;
  content: url("../../img/3circle.svg");
  position: absolute;
  top: 3.75rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.why__content-item-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background-color: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .why__content-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }
  .why__content-item:before {
    display: none;
  }
  .why__content-item-image {
    margin-right: 2rem;
  }
}
.why__content-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}
@media screen and (max-width: 480px) {
  .why__content-item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 0;
  }
}
.why__content-item-text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #292929;
  font-size: 1.6875rem;
  font-weight: 700;
  margin-bottom: 0.8125rem;
}
.why__content-item-text-inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .why__content-item-text-inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    margin-top: 0.5rem;
  }
}

.why__content-icon {
  fill: #000;
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-top: 7.8125rem;
}

.bx-viewport {
  min-height: 100%;
}

.product {
  background-color: #F8FAF9;
}
@media screen and (max-width: 768px) {
  .product {
    padding: 7% 0 5%;
  }
}
.product__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 68.75rem;
  height: 100%;
  padding: 0% 2%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .product__wrapper {
    width: 95%;
    padding: 0;
    margin: 0;
  }
}
.product__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  left: 0px;
  width: 990px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 5.625rem;
}
@media screen and (max-width: 768px) {
  .product__list {
    margin: 0;
  }
}
.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .product__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}
.product__container-imag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 23.625rem;
}
@media screen and (max-width: 768px) {
  .product__container-imag {
    width: 43%;
  }
}
.product__container-imag-bg {
  fill: #ECECEC;
  width: 24.75rem;
  height: 23.625rem;
  margin-top: 3.75rem;
}
.product__container-imag-elem {
  position: absolute;
  width: 23.125rem;
  height: 35rem;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  background: url("../../img/sprite.svg#spot") center center no-repeat;
}
@media screen and (max-width: 768px) {
  .product__container-imag-elem {
    width: 19.375rem;
    height: 27.5rem;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
.product__container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38%;
  height: 23.625rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .product__container-content {
    width: 70%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2px;
  }
}
.product__container-content-parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.6875rem;
  height: 5.6875rem;
  background: #3465A3;
  border-radius: 4px;
  padding: 15px 5px;
  margin-bottom: 4.1875rem;
}
@media screen and (max-width: 768px) {
  .product__container-content-parameters {
    display: none;
  }
}
.product__container-content-parameters:hover ~ .product__container-content-parameters-open {
  opacity: 1;
}
.product__container-content-parameters-svg {
  width: 2.375rem;
  height: 2.375rem;
  fill: #fff;
  margin-bottom: 3px;
}
.product__container-content-parameters-text {
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.product__container-content-parameters-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -4.375rem;
  right: 2.375rem;
  width: 17.0625rem;
  height: 18.1875rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 1.5625rem;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .product__container-content-parameters-open {
    display: none;
  }
}
.product__container-content-parameters-open::after {
  display: block;
  content: "";
  width: 20px;
  height: 100px;
  position: absolute;
  right: 260px;
  top: 0;
}
.product__container-content-parameters-open-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__container-content-parameters-open-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.product__container-content-parameters-open-item-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  padding: 5px 4px 5px 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}
.product__container-content-parameters-open-item-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  font-weight: 500;
  line-height: 1.5rem;
  padding-top: 4px;
}
.product__container-content-title {
  width: 100%;
  color: #000;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  /*& .h2 {
  color: #000;
  font-size: rem(36px);
  font-weight: 700;
  text-transform: uppercase;
  }*/
}
@media screen and (max-width: 768px) {
  .product__container-content-title {
    text-align: center;
    font-size: 1.875rem;
    margin-bottom: 0.5rem;
  }
}
.product__container-content-text {
  color: #666;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .product__container-content-text {
    text-align: center;
  }
}
.product__container-content-specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}
.product__container-content-specifications-width {
  margin-right: 2.75rem;
}
@media screen and (max-width: 768px) {
  .product__container-content-specifications-width {
    margin-right: 10px;
  }
}
.product__container-content-specifications-width-text1 {
  color: #666;
  font-size: 1.125rem;
}
.product__container-content-specifications-width-text2 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
}
.product__container-content-specifications-height-text1 {
  color: #666;
  font-size: 1.125rem;
}
.product__container-content-specifications-height-text2 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
}
.product__container-content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__container-content-footer-prise {
  display: block;
  color: #151515;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 3.75rem;
  text-transform: uppercase;
  margin-right: 3.75rem;
}
@media screen and (max-width: 768px) {
  .product__container-content-footer-prise {
    font-size: 43px;
    margin-right: 60px;
  }
}

.btn-left {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 24px;
  height: 40px;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .btn-left {
    top: 21%;
    left: 5%;
  }
}

.btn-right {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 24px;
  height: 40px;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .btn-right {
    top: 21%;
    right: 5%;
  }
}

.btn-right-arrow, .btn-left-arrow {
  width: 24px;
  height: 40px;
  fill: #fff;
  stroke: #000;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 68.75rem;
  max-height: 40.75rem;
  padding: 0 5rem;
}
.team__title {
  margin-bottom: 5%;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.team__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .team__desktop {
    display: none;
  }
}
.team__mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .team__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .team__item {
    width: 70%;
  }
}
.team__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 0%;
  overflow: hidden;
}
.team__item-content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__item-content-text h3 {
  color: #292929;
  font-size: 1.125rem;
}
.team__item-content-text p {
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
}
.team__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25rem;
  width: 100%;
}
.team__member-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.team__member-title > p {
  color: #292929;
  font-size: 1.3125rem;
  font-weight: 700;
  margin-right: 5px;
}
.team__member-svg-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #000;
  width: 9px;
  height: 9px;
  top: 7px;
  right: -15px;
}
.team__member-svg-up {
  display: none;
  fill: #000;
  width: 9px;
  height: 9px;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*margin-top: 100px;
  margin-bottom: 95px;*/
}
.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* align-items: center; */
  padding: 0 5rem;
}
@media screen and (max-width: 768px) {
  .reviews__wrapper {
    width: 95%;
    padding: 0;
  }
}
.reviews__title {
  display: block;
  color: #292929;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.625rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 3.625rem;
  }
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    width: 100%;
  }
}
.reviews__content-display {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 21.75rem;
  background: #F8FAF9;
  padding: 2.625rem 2.375rem;
}
.reviews__content-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__content-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.reviews__content-inner-active {
  position: static;
  opacity: 1;
  pointer-events: unset;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.reviews__content-avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__content-avatar {
    width: 8.125rem;
    height: 8.125rem;
  }
}
.reviews__content-avatar-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.reviews__content-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__content-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}
.reviews__content-article-title {
  color: #292929;
  font-size: 1.6875rem;
  font-weight: 700;
  margin-top: 1.625rem;
  margin-bottom: 0.625rem;
}
@media screen and (max-width: 768px) {
  .reviews__content-article-title {
    margin-top: 2.125rem;
    margin-bottom: 0.825rem;
  }
}
.reviews__content-article-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.26;
  width: 83%;
  white-space: normal;
}
@media screen and (max-width: 768px) {
  .reviews__content-article-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
}
.reviews__content-article-name {
  color: #292929;
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 1.375rem;
}
@media screen and (max-width: 768px) {
  .reviews__content-article-name {
    width: 100%;
    text-align: center;
  }
}

.paginator__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .paginator__reviews {
    margin-top: 2.5rem;
  }
}
.paginator__reviews-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
}
.paginator__reviews-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.625rem;
  height: 4.625rem;
  border: 0.375rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  /*:active {
      width: 68px;
      height: 68px;
      border-radius: 50%;
      border: 6px solid #FEDB3F;
  } */
}
.paginator__reviews-item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.paginator__reviews-icon {
  display: block;
  /*width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;*/
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar-active {
  background-color: #FEDB3F;
}
.interactive-avatar-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.paginator__reviews-icon {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.HowWeWork {
  background-color: #F8FAF9;
}
.HowWeWork__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 68.75rem;
  max-height: 40.75rem;
  padding: 0 5rem;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: url("../img/form.png") center center no-repeat fixed;
  background-size: cover;
}
.order__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 68.75rem;
  max-height: 40.75rem;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* align-items: center; */
  margin: auto;
}
@media screen and (max-width: 768px) {
  .order__wrapper {
    width: 95%;
    padding: 0;
    margin: 0;
  }
}
.order__overlay {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(51, 53, 55, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.order__title {
  display: block;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3.0625rem;
}
@media screen and (max-width: 768px) {
  .order__title {
    margin-bottom: 1.7rem;
  }
}
@media screen and (max-width: 480px) {
  .order__title {
    font-size: 2.5rem;
  }
}

.order__overlay-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  width: min-rem(309px);
  height: 11rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px;
}
.order__overlay-conteiner-text {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5.3125rem;
}
@media screen and (max-width: 768px) {
  .order__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 9.5rem 0 8rem;
  }
}
@media screen and (max-width: 480px) {
  .order__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2% 0 2%;
  }
}
.order__container-right {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .order__container-right {
    width: 100%;
    margin-right: 0;
  }
}
.order__container-right-topline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*> input {
      color: #000;
      font-size: 14px;
      line-height: 20px;
      width: 223px;
      height: 58px;
      padding-left: 1px;
      border-radius: 5px;
      margin-right: 16px;
  }*/
}
.order__container-right-topline :last-child {
  margin-right: 0;
}
.order__container-right-midleline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 3.625rem;
  padding-left: 1px;
  border-radius: 0.3125rem;
  margin-top: 0.8125rem;
}
@media screen and (max-width: 768px) {
  .order__container-right-midleline {
    width: 100%;
    margin-top: 1.2rem;
  }
}
.order__container-right-midleline .form__blok {
  margin-right: 0;
}
.order__container-right-bottomline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.8125rem;
  /*> input {
      color: #000;
      font-size: 14px;
      line-height: 20px;
      width: 106px;
      height: 58px;
      padding-left: 1px;
      border-radius: 5px;
      margin-right: 8px;
  }*/
}
@media screen and (max-width: 768px) {
  .order__container-right-bottomline {
    margin-top: 0.9rem;
  }
}
.order__container-right-bottomline :last-child {
  margin-right: 0;
}
.order__container-left {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .order__container-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.9rem;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .order__container-left-topline {
    width: 100%;
  }
}
.order__container-left-midleline {
  margin-top: 2rem;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .order__container-left-midleline {
    margin-top: 1.2rem;
  }
}

.form__blok {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .form__blok {
    margin-right: 3.5%;
  }
}
.form__blok:last-child {
  -webkit-mask-repeat: 0;
          mask-repeat: 0;
}

.form__title {
  color: #fff;
}

.form__input {
  color: #000;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.1875rem;
  border: solid 0.1875rem transparent;
  padding: 1.125rem 0.75rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    max-height: 3.625rem;
    padding: 0.5rem 0.5rem;
  }
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
.form__input-textarea {
  height: 9.5rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input-textarea {
    max-height: 5.425rem;
  }
}

.form__buttons {
  margin-top: 1.625rem;
}
@media screen and (max-width: 768px) {
  .form__buttons {
    margin-top: 0.9rem;
    margin-left: 4.375rem;
  }
}
@media screen and (max-width: 480px) {
  .form__buttons {
    margin-left: 0;
  }
}
.form__buttons > .button {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-error {
  border-color: red;
}

.error-modal {
  color: red;
}

.modal-success {
  color: green;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.form__controls:last-child {
  margin-right: 0;
}

.radio {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.1875rem;
  margin-bottom: 1.125rem;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-bottom: 1.6rem;
    margin-right: 1.5rem;
  }
}
.radio-checkbox .radio__visible {
  border-radius: 2px;
}
.radio-checkbox .radio__visible:before {
  background: url("../../img/checkmarkyellow.svg") center center no-repeat;
  width: 1.25rem;
  height: 1.0625rem;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.9375rem;
}
.radio__visible:before {
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map {
  position: relative;
  width: 100%;
  background: url("../img/map.jpg") center center no-repeat;
  background-size: cover;
  padding: 0;
}
.map__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 68.75rem;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0%;
  right: 0%;
  left: 0%;
  display: flex;
  background-color: #fff;
  height: 5.6875rem;
}
@media screen and (max-width: 480px) {
  .footer__background {
    height: 9.4375rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 5.6875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 480px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 9.4375rem;
  }
}

.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5% 5%;
}
.footer .contacts__text {
  color: #292929;
  font-size: 1.3125rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 480px) {
  .footer .contacts__tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer .contacts__tel-text {
  color: #292929;
  font-size: 1.3125rem;
  line-height: 1.3125rem;
  text-transform: uppercase;
}
.footer .contacts__tel-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2rem;
  height: 2rem;
  fill: #292929;
}

.map__mark {
  position: absolute;
  right: 34%;
  top: 51%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  .social {
    margin-bottom: 1.875rem;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  width: 1.25rem;
  height: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}
.social__item :last-child {
  margin-right: 0;
}

.socials__link-vk {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  width: 1.25rem;
  height: 1.25rem;
  background: center center no-repeat;
}

.socials__link-vk-icon {
  fill: #B3B3B3;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
.socials__link-vk-icon :hover {
  fill: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
}

.socials__link-fb-icon {
  fill: #B3B3B3;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
.socials__link-fb-icon :hover {
  fill: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
}

.socials__link-in-icon {
  fill: #B3B3B3;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
.socials__link-in-icon :hover {
  fill: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
}

.socials__link-tw-icon {
  fill: #B3B3B3;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
.socials__link-tw-icon :hover {
  fill: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
}

.fixed-menu {
  position: fixed;
  top: 22%;
  right: 5%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.1875rem;
}
.fixed-menu__item-active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*@mixin tabl () {
   @media screen and (max-width: $tablets) {
       @content;
   }
}

@mixin teleph {
   @media screen and (max-width: $phone) {
       @content;
   }
}*/