.fixed-menu {
    position: fixed;
    top: 22%;
    right: 5%;
    z-index: $z-fixed-munu;

    @include tabl {
        display: none;
    }

    &__item {
        margin-bottom: 0.1875rem;

        &-active {
            .fixed-menu__link {
                border-color: #fff;
            }

            .fixed-menu__black {
                border-color: #000;
            }
        }

    }

    &__link {
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 50%;
        border: 1px solid transparent;
        display: block;
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }
}

.fixed-menu__black {

    &:before {
        background-color: black;
    }


}
