.hamburger {
    display: inline-flex;
    display: none;
    width: 26px;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;

    @include tabl {
        display: inline-flex;
        margin-top: 8px;
    }

    &__plank {
        display: block;
        background: #fff;
        height: 4px;
        border-radius: 10px;
    }

}

.welcome__menu-overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(51, 53, 55, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.welcome__menu-overlay-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

.welcome__menu-list-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coneiner__cros {
    display: block;
    position: absolute;
    top: 100px;
    right: 100px;
    width: 20px;
    height: 20px;
    text-decoration: none;
}

.cros-svg {
    fill: #fff;
    width: 20px;
    height: 20px;
}
