.map {
    position: relative;
    width: 100%;
    // height: 100%;
    // background: url("../img/map.jpg") center center no-repeat ;
    // background-size:cover;
    justify-content: flex-start;
    padding: 0;
    // flex-shrink: 1;

    &__container {
        position: relative;
        display: flex;
        width: 100%;
        height: 40.75rem;
        // width: 100%;
        height: 88%;
        align-items: end;
    }


}

.footer__background {
        display: flex;
        position: absolute;
        bottom: 0%;
        right: 0%;
        left: 0%;
        display: flex;
        background-color: #fff;;
        height: rem(110px);

        @include teleph {
            height: rem(151px);
        }
}

.footer {
    display: flex;
    justify-content: space-between;
    min-height: rem(91px);
    flex: 1;

    @include teleph {
        flex-direction: column;
        align-items: center;
        height: rem(151px);
    }
}

.footer .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5%  5%;

    &__text {
        color: #292929;
        font-size: 1.3125rem;
        line-height: 1.5rem;
    }

    &__tel {
        @include teleph {
            justify-content: center;
        }
    }

    &__tel-text {
        color: #292929;
        font-size: 1.3125rem;
        line-height: 1.3125rem;
        text-transform: uppercase;
    }

    &__tel-icon {
        display: flex;
        width: 2rem;
        height: 2rem;
        fill: #292929;
    }
}

.map__mark {
    position: absolute;
    right: 34%;
    top: 51%;
    // position: fixed;
}


.social {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;

    @include teleph {
        margin-bottom: rem(30px);
    }
}

.social__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social__item {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    margin-right: 10px;

     :last-child {
        margin-right: 0;
    }

    :hover {
        fill: #000;
        transition: 0.3s;
        // background: url("../img/css_sprites.png") 46px -66px, rgb(31, 30, 30) 75% / cover no-repeat;    
        border-radius: 3px;
    }
}

.socials__link-vk {
    display: inline-flex;
    text-decoration: none;
    width: 1.25rem;
    height: 1.25rem;
    background: center center no-repeat;
}

.socials__link-vk-icon {
    fill: #B3B3B3;
    display: block;
    width: 20px;
    height: 20px;
    // background: url("../img/css_sprites.png") 46px -10px, lightgray 50% / cover no-repeat;
    border-radius: 3px;
}

.socials__link-fb-icon {
    fill: #B3B3B3;
    width: 20px;
    height: 20px;
    // background: url("../img/css_sprites.png") 46px -10px, lightgray 50% / cover no-repeat;
    border-radius: 3px;

    /*:hover {
        fill: #000;
        transition: 0.3s;
        // background: url("../img/css_sprites.png") 46px -66px, rgb(31, 30, 30) 75% / cover no-repeat;    
        border-radius: 3px;
    }*/
}

.socials__link-in-icon {
    fill: #B3B3B3;
    width: 20px;
    height: 20px;
    // background: url("../img/css_sprites.png") 46px -10px, lightgray 50% / cover no-repeat;
    border-radius: 3px;

    /*:hover {
        fill: #000;
        transition: 0.3s;
        // background: url("../img/css_sprites.png") 46px -66px, rgb(31, 30, 30) 75% / cover no-repeat;    
        border-radius: 3px;
    }*/
}

.socials__link-tw-icon {
    fill: #B3B3B3;
    width: 20px;
    height: 20px;
    // background: url("../img/css_sprites.png") 46px -10px, lightgray 50% / cover no-repeat;
    border-radius: 3px;

    /*:hover {
        fill: #000;
        transition: 0.3s;
        // background: url("../img/css_sprites.png") 46px -66px, rgb(31, 30, 30) 75% / cover no-repeat;    
        border-radius: 3px;
    }*/
}
