/*@media (max-width: 768px) {

    .section__title {
        font-size: 2.5rem;
    }
    
    .container {
        max-width: 30rem;
        max-height: 50rem;
        padding:  0;
        // padding:  0 2.3% 5% 2.4%
    }

    .header {
        background: #1968B1;
        height: 5.6875rem;
        width: 100%;
        // padding:  0 2.3% 0 4.4%
    }

    .logo__link {
        margin-left: 1.3rem;
    }

    .welcome__menu {
        display: none;
    }

    .fixed-menu {
        display: none;
    }

    .contacts__tel {
       margin-right: 2.45rem;
        content: url("../img/gamburger.svg");
    }

    .welcome__content {
        margin-top: 22.8rem;
        justify-content: center;
    }
    .welcome__content-wrapper {
        width: 88%;
        align-items: center;

        & h1 {
            text-align: center;
            font-size: 2.5rem;
        }

        & p {
            margin-top: 0.5rem;
        }
    }

    .welcome__footer {
        display: none;
    }

    .why__wrapper {
        max-width: 30rem;
        max-height: 50rem;
        padding:  0;
    }

    .why__header {
        width: 100%;

        &-title {
            font-size: 2.5rem;
        }

        &-content {
            padding: 0 5%;
        }
    }

    .why__content-list {
        flex-direction: column;
    }

    .why__content-item {
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;

        &:before {
            display: none;
        }

        &-image {
            margin-right: 2rem;
        }

        &-text {
            display: flex;
            width: 100%;
            align-items: start;
            margin-top: 0;

            &-inform {
                width: 17.6875rem;
                text-align: left;
            }
        }
    }

    .reviews__wrapper {
        max-width: 30rem;
        max-height: 50rem;
        padding:  0;
    }

    .reviews__title {
        font-size: 2.5rem;
    }

    .reviews__content {
        width: 100%;

        &-avatar {
            width: 8.125rem;
            height: 8.125rem;
        }
    }

    .reviews__content-inner {
        flex-direction: column;
        align-items: center;
    }

    .reviews__content-article {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-text {
            width: 100%;
            text-align: center;
        }

    }

    .order__wrapper {
        max-width: 30rem;
        max-height: 50rem;
        padding:  0;
        margin: 0;
    }

    .order__title {
        font-size: 2.5rem;
    }

    .order__container {
        flex-direction: column;
        padding: 0 1.3125rem;
    }

    .form__input {
        max-height: 3.625rem;
        padding: 0.5rem 0.5rem;

        &-textarea {
            height: 5.125rem;
        }
    }

    .order__container-right {
        margin-right: 0;

        &-midleline {
            width: 100%;
        }
    }
    .order__container-left {
        align-items: center;
        
        &-topline {
            width: 100%;

            .form__blok {
                margin-right: 0;
            }
        }

        &-midleline {
            width: 100%;
            
            .form__controls {
                justify-content: center;
            } 
        }
    }
}*/