


/*@media (max-width: 1100px) {
    .container {
        max-width: 48rem;
        max-height: 56.75rem;
        padding:  0;
        // padding:  0 2.3% 5% 2.4%
    }

    .header {
        background: #1968B1;
        height: 5.6875rem;
        width: 100%;
        // padding:  0 2.3% 0 4.4%
    }

    .logo__link {
        margin-left: 1.3rem;
    }

    .welcome__menu {
        display: none;
    }

    .fixed-menu {
        display: none;
    }

    .contacts__tel {
       margin-right: 2.45rem;
        content: url("../img/gamburger.svg");
    }

    .welcome__content {
        margin-top: 22.8rem;
        justify-content: center;
    }
    
    .welcome__content-wrapper {
        width: 98%;
        align-items: center;

        & h1 {
            text-align: center;
        }

        & p {
            margin-top: 0.5rem;
        }
    }

    .welcome__footer {
        display: none;
    }

    .why__wrapper {
        max-width: 48rem;
        max-height: 56.75rem;
        padding:  0;
    }

    .reviews__wrapper {
        max-width: 48rem;
        max-height: 56.75rem;
        padding:  0;
    }

    .reviews__content-inner {
        flex-direction: column;
        align-items: center;
    }

    .reviews__content-article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .order__wrapper {
        max-width: 48rem;
        max-height: 56.75rem;
        padding:  0;
    }

    .order__container {
        flex-direction: column;
    }

    .order__container-right {
        margin-right: 0;

        &-midleline {
            width: 100%;
        }
    }
    .order__container-left {
        align-items: center;
        
        &-topline {
            width: 100%;
        }

        &-midleline {
            width: 100%;
        }
    }

}*/