.reviews {
    display: flex;
    // flex-shrink: 0;
    justify-content: center;
    /*margin-top: 100px;
    margin-bottom: 95px;*/

    &__wrapper {
        display: flex;
        max-width: rem(1100px);
        // max-height: 40.75rem;
        // min-width: 68.75rem;
        min-height: 40.75rem;
        flex-direction: column;
        // justify-content: center;
        /* align-items: center; */
        padding: 0 5rem;
        // margin: auto;

        @include tabl {
            width: 95%;
            padding: 0;
        }
    }
    &__title {
        display: block;
        color: #292929;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1.625rem;

        @include tabl {
            margin-bottom: 3.625rem;
        }
    }
}
.reviews__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 42px;
    // width: 940px;
    width: 100%;
    height: auto;
    // background: #F8FAF9;

    @include tabl {
        width: 100%;
    }

    &-display{
        position: relative;
        display: flex;
        // width: rem(940px);
        min-height: rem(348px);
        background: #F8FAF9;
        padding: 2.625rem 2.375rem;
    }

    &-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .3s;
        pointer-events: none;
        opacity: 0;
        display: flex;

        @include tabl {
            flex-direction: column;
            align-items: center;
        }

        &-active {
            position: static;
            opacity: 1;
            pointer-events: unset;
            transition: 0.7s;
        }
    }

    &-avatar {
        // display: block;
        width: 15.8125rem;
        height: 16.5rem;
        // margin-right: 40px;

        @include tabl {
            width: 8.125rem;
            height: 8.125rem;
        }

        &-image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &-article {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 2.5rem;

        @include tabl {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

        &-title {
            // text-align: center;
            color: #292929;
            font-size: 1.6875rem;
            font-weight: 700;
            margin-top: 1.625rem;
            margin-bottom: 0.625rem;

            @include tabl {
                margin-top: 2.125rem;
                margin-bottom: 0.825rem;
            }
        }

        &-text {
            display: flex;
            line-height: 1.26;
            width: 83%;
            white-space: normal;

            @include tabl {
                display: flex;
                // width: 100%;
                text-align: center;
            }
        }

        &-name {
            color: #292929;
            font-weight: 500;
            line-height: 1.5rem;
            margin-top: 1.375rem;

            @include tabl {
                width: 100%;
                text-align: center;
            }
        }

    }
}


.paginator__reviews {
    display: flex;
    margin-top: 1.875rem;
    justify-content: center;
    margin-top: 0.9375rem;

    @include tabl {
        margin-top: 2.5rem;
    }

    &-list {
        display: inline-flex;
        justify-content: center;
        column-gap: 0.375rem;
    }

    &-item {
        display: flex;
        width: 4.625rem;
        height: 4.625rem;
        border: 0.375rem solid transparent;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        // justify-content: center;
        // align-items: center;

        /*:active {
            width: 68px;
            height: 68px;
            border-radius: 50%;
            border: 6px solid #FEDB3F;
        } */

        &-link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
        }

    }

    &-icon {
        display: block;
        /*width: 74px;
        height: 74px;
        border-radius: 50%;
        overflow: hidden;*/
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
