.welcome__content {
    display:flex;
    justify-content: space-between;
    margin-top: 6.4375rem;

    &-wrapper {
        display: flex;
        flex-direction: column;
        width: 45%;
        // padding-right: 604px;

        & h1 {
            color: #fff;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.21;
            text-transform: uppercase;
        }

        & p {
            color: #fff;
            font-size: 1.3125rem;
            margin-top: 0.9375rem;
        }
    }
}

/*.welcome__content-wrapper h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.21;
    text-transform: uppercase;
}

.welcome__content-wrapper p {
    color: #fff;
    font-size: 21px;
    margin-top: 15px;
}*/

.button-welcome {
    margin-top: 2.25rem;
}
